.DraftEditor-editorContainer {
    background-color:#fff;
    border-left:.1px solid transparent;
    position:relative;
    z-index:1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    height: 750px;
    width: 100%;
    font-size: 14pt;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
  }

  h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bolder;
  }

  a{
    color: rgb(6, 69, 173);
  }

  p{
    color: black;
  }
 
  .infT{
    color: #000;
    text-align: center;
    font-size: 18pt;
  }
  .infP{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif; 
    padding-left: 5px;
  }
  
  table.wikitable {
    font-family: Georgia, serif;
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.wikitable td, table.wikitable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.wikitable tbody td {
    font-size: 13px;
  }
  table.wikitable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.wikitable thead {
    background: #B7D0E8;
    border-bottom: 2px solid #444444;
  }
  table.wikitable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border-left: 2px solid #D0E4F5;
  }
  table.wikitable thead th:first-child {
    border-left: none;
  }
  
  table.wikitable tfoot td {
    font-size: 14px;
  }

  table.wikitable tbody td.header {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    /* border-left: 1px solid #D0E4F5; */
  }

  table.wikitable tbody tr.header {
    background: #B7D0E8;
    border-bottom: 1px solid #444444;
  }