html, body {
  font-family: sans-serif;
  font-size: 100%;
}

.leftnav {
  line-height: 1.5;
}

.leftnav p {
  font-size: 0.75em;
}

a:hover {
  text-decoration: underline;
}

.wikibar button:hover {
  text-decoration: underline !important;
}

.toolbar {
  color: black;
}

.wd-searchbar input {
  border-radius: 0px;
  border-top: none;
  border-bottom: 1px solid #ccc;
}